.box_container {
  width: 49%;
  background-color: #16161A;
  margin: 0.5%;
  position: relative;
}

.box {
  padding: 45px; /* Adjusted padding for inner content */
}

.box_container:hover {
  transform: scale(1.02);
}

.box .project_details h3 {
  margin: 0;
  font-size: 1.1rem; /* Adjust title font size */
}

.box .project_details p {
  font-size: 0.95rem; /* Adjust description font size */
  line-height: 1.6; /* Adjust line height for readability */
  color: #777778;
  font-family: 'air-light';
}

.box .project_details small {
  margin-bottom: 10px; /* Adjust spacing below details */
  font-size: 0.85rem; /* Adjust small text font size */
  color: grey;
}

.box .project_links a {
  font-size: 0.85rem; /* Adjust link font size */
  line-height: 1.6; /* Adjust line height for links */
  color: grey;
  text-decoration: none;
  margin-right: 10px; /* Adjust spacing between links */
}

.box .project_links a i {
  margin-right: 2px;
}

@media (max-width: 993px) {
  .box_container {
    width: 100%; /* Full width on smaller screens */
    margin: 0.5% 0; /* Adjust margin as needed */
  }
}

@media (min-width: 994px) {
  .box_container.list_mode {
    width: 100%; /* Full width in list mode on desktop */
    margin: 0.5% 0; /* Adjust margin as needed */
  }
}
